
body {
  background: linear-gradient(to right, #FFA07A, #b5d215, #87CEFA);
  background-size: cover;
  background-position: center;
}

h1 {
  text-shadow: 10ch;
  text-align: center;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.topic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.topic img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.pdfs {
  margin-top: 50px;
  text-align: center;
}

.pdf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: rgb(227, 158, 9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  cursor: pointer;
}

.pdf:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.pdf button {
  padding: 10px;
  background-color: rgb(148, 16, 157);
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.pdf button:hover {
  background-color: rgb(164, 211, 8);
}
